<?php
// See https://hcaptcha.com/
$rcmail_config['hcaptcha_site_key'] = '';
$rcmail_config['hcaptcha_secret_key'] = '';
$remail_config['hcaptcha_send_client_ip'] = false;
$rcmail_config['hcaptcha_theme']  = 'light';